body
{
	background-color: #fff;
	color:#000;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.3em;
	margin:5px 10px;
	vertical-align: baseline;
}
/*ol, ul{
	list-style: none;
}*/
.clr{
	clear: both;
}
.button {
	background-color: #aaa;
	color: #fff;
	padding: 4px 5px;
	border: none;
}
.button:hover{
	background-color:#f00050;
	color:#fff;
}
#Container{
	margin: auto;
	padding: 5px;
}
#Container > header{
	height: 175px;
}
header div#logo{
	float: left;
	color: #8B0000;
	font-size: 1.8em;
	font-style: italic;
	font-family: Georgia;
	padding: 10px;
}
.upper{
	background: border-box, #88bb77;
	border: 1px solid #fff;
	margin: auto;
	height: 150px;
	color:#000;
	padding: 0px;
	border-radius: 5px;
	box-sizing: border-box;
}
header nav{
	float:right;
	padding: 5px;
}
header nav ul{
	margin: auto;
	padding: 2px;
	float: right;
	list-style: none;
}
header nav ul li{
	float: left;
	padding: 2.5em 0 2.5em 2em;
}
.course{
	border: 1px solid #fff;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	float: left;
	width: 100%;
	box-sizing: border-box;
	background-color: #DCDCDC;
}
#central-main-block{
	background-color: #F8F8F8;
	float: left;
	width: 70%;
	border: 1px solid #fff;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	text-align: justify;
}
#central-right-block{
	background-color: #DCDCDC;
	float: right;
	width: 30%;
	border: 1px solid #fff;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	text-align: justify;
}
.highlights{
	background: border-box, #DCDCDC; 
	border: 1px solid #fff;
	margin:auto;
	padding: 10px;
	border-radius: 5px;
	float:left;
	width:33.3%;
	box-sizing:border-box;
	text-align: justify;
}
.footnote{
	background: border-box, #88bb77;
	border: 1px solid #fff;
	margin: auto;
	padding: 10px;
	border-radius: 5px;
	float: left;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}
.fix-link{
	position: fixed;
	top:350px;
	left:0px;
}
a{
    text-decoration:none;
    color:#000;
}
a:hover,{
    color:#00f;
}
a:active{
    color:#ff0;
}
